# Зависимости
node_modules/
/.pnp
.pnp.js
yarn.lock

# Тестирование
/coverage

# Продакшн
/build
/dist

# Разные
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# IDE и редакторы
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Кэш и временные файлы
.npm
.eslintcache
.cache
.parcel-cache

# Локальные файлы
*.local

# Файлы конфигурации с секретами
*.secret.js
*.secret.json
*.secret.env

# Лок-файлы
package-lock.json

# Другие файлы и папки
.cursor/
.github/
.netlify/
.next/ 